{{title}}
|===
|Key|Value

{{#fields}}
|{{#tableCellContent}}`+{{path}}+`{{/tableCellContent}}
|{{#tableCellContent}}{{#description}}{{description}}{{/description}}{{^description}}no description{{/description}}{{/tableCellContent}}
{{/fields}}
|===